<!doctype html>
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="LayoutPadrao">
  
  <head>
  <title>Cadasrtro Eventos</title>
  </head>
 
 <section layout:fragment="corpo">

	<div class="card">
		<h5 class="card-header">Cadastro casa de Show</h5>
		<div class="card-body">

			<div class="form-group">
			
				<label for="idade">Evento :</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="idade"
						name="evento" placeholder="Nome do Show">
				</div>
			</div>

			<div class="form-group">
				<label for="curso">Capacidade  :</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="curso"
						name="capacidade" placeholder="Capacidade total de pessoa ">
				</div>
			</div>
			<div class="form-group">
				<label for="curso">Data  :</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="curso"
						name="data" placeholder="DD/MM/AAAA">
				</div>
			</div>
			<div class="form-group">
				<label for="curso">Valor do Ingresso  :</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="curso"
						name="valorIngresso" placeholder="R$ 0000,00">
				</div>
			</div>
			
			<div class="form-group">
					<label for="status">Status</label>
					<div class="col-sm-4">
						<select class="form-control" id="status" >
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
					</div>
				</div>
			<div class="form-group">
					<label for="status">Status</label>
					<div class="col-sm-4">
						<select class="form-control" id="status" name="status">
							<option th:each="status : ${todosStatusShow}"
								th:value="${status}" th:text="${status.descricao}">
						</select>
					</div>
				</div>
			<button type="submit" class="btn btn-primary">Cadastrar</button>

		</div>
	</div>
</section>
</html>