<!doctype html>
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
	<head>
	<title>Error</title>
	<STYLE type="text/css">
	.erro{
	margin-top: 15%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20%;
	}
	h1{
	color:white;
	}
	
	</STYLE>
	</head>
	<section layout:fragment="corpo">
	
	<DIV class="erro">
	<h1> Desculpa, não deu pra acessar essa pagina. Por favor, fazer cadastro de uma casa de show para continuar com sua Aplicação!! </h1>
	</DIV>
	</section>
	
	
	
</html>