<!doctype html>
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>

</head>
<section layout:fragment="corpo">

	<div class="card">
		<h5 class="card-header">Cadastro casa de Show</h5>
		<div class="card-body">

		<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Endereço</th>
						<th>
							editar/deletar
						</th>
					</tr>
				</thead>
				<tbody>
				<tbody>
				<!-- o showPequisa esta sendo passado para o metodo pesquisaar -->
					<tr th:each="newShow : ${showPesquisa}">
						<td th:text="${newShow.codigo}"></td>
						<td th:text="${newShow.nomeCasaShow}"></td>
						<td th:text="${newShow.local}"></td>	
						<td>
						<a type="submit" class="btn btn-primary" th:href="@{/cadastro/{codigo}(codigo=${newShow.codigo})}">Editar</a>
						<a type="submit" class="btn btn-danger" th:href="@{/cadastro/excluir/{codigo}(codigo=${newShow.codigo})}">Deletar</a>
						</td>					
					</tr>
					<tr>
						<td colspan=6 th:if="${#lists.isEmpty(aluno) }">nenhum titulo
							foi encontrado!</td>
					</tr>

				</tbody>
				</tbody>
			</table>

	</div>
	</div>
	
	
</section>
</html>